@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('LXGWWenKai Regular'), local('LXGWWenKai-Regular'),
         url('LXGWWenKai-Regular.woff2') format('woff2');
  }